<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightStar/main</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- link to icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header id="header">
        <div class="container">
            <a href="/" class="Logo">Bright<span>Star</span></a>

            <nav class="header-nav">
                <ul class="header-ul">
                    <li class="header-li active">
                        <a href="/astroPhoto">Астрофотографія</a>
                    </li>
                    <li class="header-li">
                        <a href="https://esahubble.org/images/archive/category/stars/" target='_blank'>Архів Фото</a>
                    </li>
                    <li class="header-li">
                        <a href="/instruction">Інструкція</a>
                    </li>
                </ul>
            </nav>

            {{#ifEquals account 'is'}}
            <ul class="header-ul">
                <li class="header-li">Привіт {{login}}!
                    <ul class="header-sub-ul">
                        <li class="header-sub-li"><a href="/profile">Профіль</a></li>
                        <li class="header-sub-li"><a href="/logout">Вийти</a></li>
                    </ul>
                </li>
            </ul>
            {{else}}
            <div class="buttons-list">
                <a href="/login" class="btn">Увійти</a>
                <a href="/register" class="btn">Реєстрація</a>
            </div>
            {{/ifEquals}}
        </div>
    </header>
    <button type="button" id="menu-icon"><i class='bx bx-menu-alt-right'></i></button>
    <main class="astroPhoto-main">
        <section class="astropPhoto">
            <div class="container">
                <h1 class="astropPhoto-h1">Астрофотографія</h1>
                <p class="astropPhoto-p">Астрофотографія — це спеціалізована галузь фотографії, яка пов'язана із
                    фотографуванням небесних тіл та великих ділянок нічного неба. Перший знімок небесного тіла (Місяця)
                    — був виконаний у 1840 році; але справді високої деталізації зоряних фотографій вдалося досягти лише
                    наприкінці XIX століття, завдяки значному прогресу технології. Окрім здатності фіксувати на знімках
                    деталі найближчих астрономічних об'єктів (таких як Місяць, Сонце та планети), астрофотографія дає
                    змогу робити знімки і непомітних для людського ока небесних тіл, таких як тьмяні зорі, туманності,
                    та галактики. Такі фотографії робляться шляхом довготривалого експонування, адже плівкові та цифрові
                    фотокамери здатні вбирати та накопичувати фотони світла протягом ось таких тривалих періодів часу.
                    Астрофотографія стала революційним проривом для професійних досліджень у галузі астрономії завдяки
                    тривалим експозиціям, які фіксували сотні тисяч нових зірок та туманностей, невидимих для людського
                    ока. Це привело до створення все більш вузькоспеціалізованих, та все масивніших оптичних телескопів,
                    які по суті були гігантськими «камерами», призначеними для накопичення світлової інформації, яка
                    потім записувалася на плівку у вигляді зображення. Пряма астрофотографія на початковому етапі свого
                    існування застосовувалась для спостережень за нічним небом та для класифікації зірок, але з ходом
                    часу вона дала поштовх до створення набагато витонченіших видів обладнання та методів, які
                    розроблялися для спеціалізованих напрямків наукових досліджень. До того ж плівка (а пізніше —
                    астрономічні ПЗЗ-камери) з часом стала всього лиш «одним із багатьох» типів світлочутливих сенсорів.
                </p>
                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto1.jpg" alt="astrophoto1.jpg">
                        <p>Зображення Поясу Оріона, складене із оцифрованих чорно-білих фотопластин, записаних крізь
                            червоний та синій астрономічні фільтри, із комп'ютерно-синтезованим зеленим каналом.
                            Зображення були записані на ці фотопластини із використанням телескопу Самуеля Ошина (Samuel
                            Oschin Telescope) між 1987 та 1991 роками. </p>
                    </li>
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto2.jpg" alt="astrophoto2.jpg">
                        <p>Двохвилинна експозиція комети Гейла-Боппа. Дерево на зображенні освітлювалося за допомогою
                            маленького ліхтарика.</p>
                    </li>
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto3.jpg" alt="astrophoto3.jpg">
                        <p>Зоряний слід. Знімок виконаний із Міжнародної Космічної Станції, із земної орбіти </p>
                    </li>
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto4.jpg" alt="astrophoto4.jpg">
                        <p>Зоряне скупчення Стожари, сфотографоване 6-мегапіксельною цифровою дзеркалкою, приєднаною до
                            80-мм-рефрактора із наспинним кріпленням до більшого телескопа. Знімок скомпонований із
                            сімох 180-секундних експозицій, об'єднаних та опрацьованих у Фотошопі, з використанням
                            плагіну редукції шуму. </p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="astropPhoto">
            <div class="container">
                <h1 class="astropPhoto-h1">Астрограф</h1>
                <p class="astropPhoto-p">Астрограф — телескоп для фотографування небесних світил.
                    З часів винаходу Галілея телескопи призначались виключно для візуальних спостережень за кометами,і
                    деталями на дисках планет. З кінця XIX століття, з винаходом фотографії в астрономію увійшов
                    фотографічний метод спостережень.Збільшились вимоги до телескопів і до максимального використання
                    світла яке вони збирають. В фокальну площину телескопу прикріплена касета з фотопластинкою,що
                    дозволяє збирати світло досить довгий час. Зараз як фотоприймач застосовують ПЗЗ-камери.

                    Спеціальні телескопи призначені виключно для фотографічних спостережень традиційно називають
                    астрографами, в наш час це всі великі телескопи.

                    За схемою будови астрографи можуть бути рефракторами, рефлекторами або дзеркально-лінзовими
                    телескопами. Поворот астрографа услід за добовим обертанням небесної сфери відбувається за допомогою
                    точного годинникового механізму, контроль за переміщенням труби — за допомогою гіда (другої оптичної
                    труби, яку встановлено паралельно до першої). В сучасних астрографах застосовують фотоелектричний
                    гід, який автоматично утримує обрану зорю в полі зору.

                    Астрографи бувають короткофокусні, нормальні, довгофокусні та ін.

                    Короткофокусні астрографи (з фокусною відстанню до 1 м), проте з великим вхідним отвором
                    застосовують для фотографування зір на великих ділянках неба, комет, астероїдів, штучних супутників
                    Землі, метеорів.

                    Для точніших вимірювань зоряних положень використовують астрографи з фокусною відстанню в кілька
                    метрів, серед них — нормальні астрографи (з F-3.5 м).

                    Довгофокусні астрографи (з F«10—15 м) застосовують для визначення зоряних паралаксів і виявлення
                    подвійних систем та ін.

                    Дзеркальні астрографи внаслідок їхньої великої світлосили використовують для фотографування слабких
                    об'єктів.</p>
                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto5.jpg" alt="astrophoto5.jpg">
                        <p>Похідний астрограф</p>
                    </li>
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto6.jpg" alt="astrophoto6.jpg">
                        <p>Астрограф "ДІН-400"</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="astropPhoto">
            <div class="container">
                <h1 class="astropPhoto-h1">Аналіз електромагнітного випромінювання — основа сучасної всехвильової
                    астрономії</h1>
                <p class="astropPhoto-p">Історично оптична астрономія (яку ще називають астрономією видимого світла) є
                    найдавнішою формою дослідження космосу — астрономії. Оптичні зображення спочатку малювали від руки.
                    Наприкінці XIX століття й більшої частини ХХ століття, дослідження здійснювалися на основі
                    зображень, які здобували за допомогою фотографій, зроблених на фотографічному устаткуванні. Сучасні
                    зображення отримують з використанням цифрових детекторів, зокрема детектори на основі приладів із
                    зарядовим зв'язком (ПЗЗ). Хоча видиме світло охоплює діапазон приблизно від 4000 Ǻ до 7000 Ǻ
                    (400–700 нанометрів), обладнання, що застосовується у цьому діапазоні, можна застосувати і для
                    дослідження близьких до нього ультрафіолетового та інфрачервоного діапазонів, які не сприймаються
                    людським оком.
                </p>

                <p class="astropPhoto-p">Інфрачервона астрономія стосується досліджень, виявлення та аналізу
                    інфрачервоного випромінювання в космосі. Хоча довжина хвилі його близька до довжини хвилі видимого
                    світла, інфрачервоне випромінювання сильно поглинається атмосферою, крім того, атмосфера Землі має
                    значне інфрачервоне випромінювання. Тому обсерваторії для вивчення інфрачервоного випромінення мають
                    бути розташовані на високих та сухих місцях або в космосі. Інфрачервоний спектр є корисним для
                    вивчення об'єктів, які є занадто холодними, щоб випромінювати видиме світло таких об'єктів, як
                    планети і навколозоряні диски. Інфрачервоні промені можуть проходити через газопилові хмари, які
                    поглинають видиме світло, що дає змогу спостерігати молоді зорі в молекулярних хмарах і ядрах
                    галактик. Деякі молекули потужно випромінюють в інфрачервоному діапазоні, і це може бути використано
                    для вивчення хімічних процесів у космосі (наприклад, для виявлення води в кометах).
                </p>
                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto7.jpg" alt="astrophoto7.jpg">
                        <p>Інфрачервоний космічний телескоп «Гершель» </p>
                    </li>
                </ul>
                <p class="astroPhoto-p">Ультрафіолетова астрономія, здебільшого, застосовується для детального
                    спостереження в ультрафіолетових довжинах хвиль приблизно від 100 до 3200 Ǻ (від 10 до 320
                    нанометрів). Світло на цих довжинах хвиль поглинається атмосферою Землі, тому дослідження цього
                    діапазону виконують з верхніх шарів атмосфери або з космосу. Ультрафіолетова астрономія найкраще
                    підходить для вивчення гарячих зір (ОФ зірки), оскільки основна частина їх випромінювання припадає
                    саме на цей діапазон. Сюди належать дослідження блакитних зір в інших галактиках та планетарних
                    туманностей, залишків наднових, активних галактичних ядер. Однак ультрафіолетове випромінювання
                    легко поглинається міжзоряним пилом, тому під час вимірювання слід робити поправку на наявність
                    останнього в космічному середовищі. </p>

                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto8.jpg" alt="astrophoto8.jpg">
                        <p>Зроблене телескопом GALEX зображення спіральної галактики М81 в ультрафіолетовому світлі.</p>
                    </li>
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto9.gif" alt="astrophoto9.jpg">
                        <p>Зображення М101 в ультрафіолеті за допомогою Astro 2 UIT </p>
                    </li>
                </ul>

                <p class="astroPhoto-p">Радіоастрономія досліджує випромінювання з довжиною хвилі, більшою за один
                    міліметр (приблизно). Радіоастрономія відрізняється від більшості інших видів астрономічних
                    спостережень тим, що досліджувані радіохвилі можна розглядати саме як хвилі, а не як окремі фотони.
                    Отже, можна виміряти як амплітуду, так і фазу радіохвилі, що не так легко зробити для коротших
                    хвиль.

                    Хоча деякі радіохвилі випромінюються астрономічними об'єктами у вигляді теплового випромінювання,
                    більшість радіовипромінювання, що спостерігається з Землі, є за походженням синхротронним
                    випромінюванням, що виникає, коли електрони рухаються у магнітному полі. Крім того, деякі
                    спектральні лінії утворюються міжзоряним газом, зокрема радіолінія нейтрального водню довжиною 21
                    см.

                    У радіодіапазоні спостерігається велике розмаїття космічних об'єктів, зокрема наднові зорі,
                    міжзоряний газ, пульсари та активні ядра галактик.</p>

                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto10.jpg" alt="astrophoto10.jpg">
                        <p>Радіотелескопи Надвеликого масиву в Сірокко, Нью-Мексико, США </p>
                    </li>
                </ul>

                <p class="astroPhoto-p">Рентгенівська астрономія вивчає астрономічні об'єкти в рентгенівському
                    діапазоні. Зазвичай об'єкти випромінюють рентгенівське випромінювання завдяки:

                    синхротронному механізму (релятивістські електрони, що рухаються в магнітних полях)
                    теплове випромінювання від тонких шарів газу, нагрітих вище 107 K (10 мільйонів Кельвіна — так зване
                    гальмівне випромінювання);
                    теплове випромінювання масивних газових тіл, нагрітих понад 107 K (так зване випромінювання
                    абсолютно чорного тіла).
                    Оскільке рентгенівське випромінювання поглинається атмосферою Землі, рентгенівські спостереження
                    здебільшого виконують з орбітальних станцій, ракети або космічних кораблів. До відомих
                    рентгенівських джерел у космосі належать: рентгенівські подвійні зорі, пульсари, залишки наднових,
                    еліптичні галактики, скупчення галактик, а також активні ядра галактик.</p>

                <ul class="astroPhoto-ul">
                    <li class="astroPhoto-li">
                        <img src="img/astrophoto11.jpg" alt="astrophoto11.jpg">
                        <p>Галактика Андромеди — зображення у високоенергетичних рентгенівських світлі та ультрафіолетовому світлі (фото оприлюднене 5 січня 2016 року).  </p>
                    </li>
                </ul>
            </div>
        </section>
        <a href="#header" class="arrowToTop"><i class='bx bx-up-arrow-alt'></i></a>
    </main>
    <script src="js/srcipt.js"></script>
</body>

</html>