<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightStar/main</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- link to icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="Logo">Bright<span>Star</span></a>
            {{#ifEquals account 'is'}}
                <ul class="header-ul">
                    <li class="header-li">Привіт {{login}}!
                        <ul class="header-sub-ul">
                            <li class="header-sub-li"><a href="/profile">Профіль</a></li>
                            <li class="header-sub-li"><a href="/logout">Вийти</a></li>
                        </ul>
                    </li>
                </ul>
            {{else}}
                <div class="buttons-list">
                    <a href="/login" class="btn">Login</a>
                    <a href="/register" class="btn">Register</a>
                </div>
            {{/ifEquals}}
        </div>
    </header>

    <main>
        <section class="welcome-section">
            <div class="container">
                <div class="info-wrapper">
                    <h1>Привіт! Хочеш порахувати зірки?</h1>
                    <p>Рахуй</p>
                    <a href="#form" class="downButton"><i class='bx bx-down-arrow'></i></a>
                </div>
            </div>
        </section>

        <section class="main-section">
            <div class="container">
                <form action="/send-photo" method="post" id="form" class="info-wrapper">
                    {{#ifEquals account 'is'}}
                     {{else}}
                        <div class="blocker-wrapper">
                           <div class="blocker">
                                <h3>Спочатку Увійдіть в Акаунт!</h3>
                                <a href=/login" class="btn">Увійти</a>
                                <p>Ще не маєте акаунта? <a href="/register">Зареєструватись</a></p>
                           </div>
                        </div>
                    {{/ifEquals}}
                    <h1>Спочатку завантажте фото зоряного неба!</h1>
                    <p>Гарне воно, чи не так?</p>
                    <input type="file" name="input" id="input">
                    <label for="input" class="btn">Завантажте фотографію</label>
                    <button class="btn">Порахувати зорі</button>
                </form>
            </div>
        </section>
         <div class="info-block-wrapper" id="warningBlock-wrapper">
            <div class="warningBlock info-block">
                <h2 class="WarningH2">Спочатку Виберіть файл!</h2>
                <div class="progress-line">
                    <div class="progress"></div>
                </div>
                <button type="button" class="btn" id="close"><i class='bx bx-x' style='color:#ffffff' ></i></button>
            </div>
        </div>

        <div class="info-block-wrapper" id="resultBlock-wrapper">
            <div class="resultBlock info-block">
                <h2 class="ResultH2">Успішно було знайдено!</h2>
                <img src="" alt="grey-img" class="result-img">
            </div>
        </div>
    </main>
    <script src="js/srcipt.js"></script>
</body>
</html>