<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightStar/main</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- link to icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header id="header">
        <div class="container">
            <a href="/" class="Logo">Bright<span>Star</span></a>

            <nav class="header-nav">
                <ul class="header-ul">
                    <li class="header-li">
                        <a href="/astroPhoto">Астрофотографія</a>
                    </li>
                    <li class="header-li">
                        <a href="https://esahubble.org/images/archive/category/stars/" target='_blank'>Архів Фото</a>
                    </li>
                      <li class="header-li active">
                        <a href="/instruction">Інструкція</a>
                    </li>
                </ul>
            </nav>

            {{#ifEquals account 'is'}}
            <ul class="header-ul">
                <li class="header-li">Привіт {{login}}!
                    <ul class="header-sub-ul">
                        <li class="header-sub-li"><a href="/profile">Профіль</a></li>
                        <li class="header-sub-li"><a href="/logout">Вийти</a></li>
                    </ul>
                </li>
            </ul>
            {{else}}
            <div class="buttons-list">
                <a href="/login" class="btn">Увійти</a>
                <a href="/register" class="btn">Реєстрація</a>
            </div>
            {{/ifEquals}}
        </div>
    </header>
    <button type="button" id="menu-icon"><i class='bx bx-menu-alt-right'></i></button>
    <main class="instruction-main">
        <div class="container">
            <section class="instructioin-section">
                <h1 class="instructioin-h1">Як почати працювати з BrightStar?</h1>

                <ul class="instructioin-ul">
                    <li class="instructioin-li"><a href="/login">Увійдіть</a> або <a href="/register">створіть</a> аккаунт</li>
                    <li class="instructioin-li">Виберіть фотографію зоряного неба(її можна знайти у вкладці 'Архів Фото')
                        <p class="instructioin-p">Наприклад:</p>
                        <img class="instructioin-img"  src="img/astrophoto4.jpg" alt="">
                    </li>
                    <li class="instructioin-li">Натисніть кнопку 'Порахувати зорі' та чекайте на результат</li>
                </ul>
            </section>
        </div>
    </main>
    <script src="js/srcipt.js"></script>
</body>

</html>